@reference "../styles/tailwind.css";

.aboutInfoList {
  @apply flex gap-2 text-lg;
}

.aboutTitle {
  @apply text-lg font-medium;
}

.aboutUnderLine {
  // @apply h-px w-16;
}

.aboutSectionWrap {
  @apply flex flex-col gap-2 px-6 py-4;
}
