@reference "../styles/tailwind.css";

.aboutInfoList {
  @apply flex gap-2 text-lg;
}

.aboutTitle {
  @apply text-lg font-medium;
}

.aboutUnderLine {
  // @apply h-px w-16;
}

.aboutSectionWrap {
  @apply flex flex-col gap-2 p-6;
}

.aboutSectionLeft {
  animation: rightSlideIn 0.3s ease-out;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
.aboutSectionRight {
  animation: leftSlideIn 0.3s ease-out;
  animation-fill-mode: both;
}
.aboutRightWrap .aboutSectionRight {
  &:nth-of-type(1) {
    animation-delay: 0.6s;
  }
  &:nth-of-type(2) {
    animation-delay: 0.7s;
  }
  &:nth-of-type(3) {
    animation-delay: 0.8s;
  }
  &:nth-of-type(4) {
    animation-delay: 0.9s;
  }
}

@keyframes leftSlideIn {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightSlideIn {
  0% {
    opacity: 0;
    // transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    // transform: translateX(0);
  }
}
