@reference "../styles/tailwind.css";

.glassFrame {
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(156, 155, 155, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 8px 1px var(--glass-shadow-light);

  position: relative;
  overflow: hidden;
}

.glassFrame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    var(--glass-shadow-dark) transparent
  );
}

.glassFrame::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.frameContainer.shrinkRight {
  /* transform: scale(0.9); */
  opacity: 0.8;
  animation: slideFromRight 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.frameContainer.shrinkLeft {
  /* transform: scale(0.9); */
  opacity: 0.8;
  animation: slideFromLeft 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.frameContainer {
  transform: scale(1);
  opacity: 1;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%) scale(0.9);
    opacity: 0;
  }

  50% {
    transform: translateX(0) scale(0.9);
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%) scale(0.9);
    opacity: 0;
  }

  70% {
    transform: translateX(0) scale(0.9);
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
