@reference "../styles/tailwind.css";

@keyframes modalUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.modalAnimate {
  animation: modalUp 0.3s cubic-bezier(0.22, 1, 0.36, 1)
}

.modalDim {
  @apply fixed inset-0 z-50 flex items-center justify-center bg-black/50 px-20 pt-24 backdrop-blur-sm
}

.modalWrap {
  @apply relative h-full w-full max-w-4xl flex-1 overflow-y-auto rounded-t-2xl border border-b-0 border-white/30 p-6 shadow-lg backdrop-blur-md;

  .modalCloseBtn {
    background-color: var(--ap-btn-hover-background);
    transition: background-color 0.2s;
    @apply absolute top-4 right-4 flex h-8 w-8 items-center justify-center rounded-full text-white/80 cursor-pointer;

    &:hover {
      background-color: var(--ap-btn-background);
    }
  }
}

.modalScrollbar::-webkit-scrollbar {
  width: 8px;
}

.modalScrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.modalScrollbar::-webkit-scrollbar-thumb {
  // background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
}

.modalScrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}