@reference "../styles/tailwind.css";

.projectWrap {
  // width: calc(25% - 40px);
  // max-width: 280px;
  animation: boxUp 0.3s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  background-size: 100% 100%;
  @apply flex h-70 cursor-pointer overflow-hidden rounded-2xl bg-white/90;
}

@keyframes boxUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
