@reference "../styles/tailwind.css";

.skillBox {
  animation: boxUp 0.3s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

@keyframes boxUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
