/* @import "tailwindcss"; */
/* @import "../styles/tailwind.scss"; */
@import '../styles/tailwind.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ap-btn-light: rgba(0, 0, 0, 0.3);
  --color-ap-btn-dark: rgba(255, 255, 255, 0.2);
}

@layer base {
  :root {
    color-scheme: light;
    --background: #a8c0ee;
    --foreground: #111111;
    --ap-btn-background: rgba(36, 36, 36, 0.3);
    --ap-btn-hover-background: rgba(23, 23, 23, 0.1);
    --dk-gray-100: rgba(43, 43, 43, 0.5);
    --glass-shadow-light: rgba(168, 192, 238, 0.3);
    --glass-shadow-dark: rgba(255, 255, 255, 0.8);
    --project-card-gradient: rgba(0, 0, 0, 0.1);
    --main-cube-background: rgba(36, 36, 36, 0.1);
  }
  .dark {
    color-scheme: dark;
    --background: #161a20;
    --foreground: #f5f5f5;
    --ap-btn-background: rgba(255, 255, 255, 0.2);
    --ap-btn-hover-background: rgba(0, 0, 0, 0.1);
    --dk-gray-100: rgba(41, 41, 41, 1);
    --glass-shadow-light: rgb(73, 73, 73);
    --glass-shadow-dark: rgba(0, 0, 0, 0.8);
    --project-card-gradient: rgba(0, 0, 0, 0.3);
    --main-cube-background: rgba(0, 0, 0, 0.1);
  }
}

body {
  background: var(--background);
  background: radial-gradient(
    circle,
    var(--glass-shadow-light) 1%,
    var(--background) 90%
  );
  color: var(--foreground);
  font-family: var(--font-pretendard);
  flex-direction: column;
}

html,
body {
  overflow: hidden;
}

body.modal-on {
  overflow: auto;
}

.nosifer {
  font-family: var(--font-nosifer);
  @apply font-semibold;
}

.default-glass {
  @apply rounded-xl border border-white/10 bg-white/10 shadow-sm backdrop-blur-md dark:bg-white/10;
}

.default-glass.hover {
  @apply cursor-pointer hover:bg-white/30 dark:hover:bg-white/30;
}

.main-cube-wrap {
  transform: skewX(0deg);
  animation: mainCubeSpin 5s infinite linear;
  animation-delay: 2.5s;
  /* transform-style: preserve-3d; */
}

.main-cube {
  width: 100%;
  height: 100%;
  position: absolute;
  /* border: 2px solid var(--color-background); */
  background-color: var(--main-cube-background);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;

  @apply /* color: white; */ dark:border-white;
}
.main-cube-1 {
  transform: translateX(16vw) translateZ(8vw);
  animation: scale1 1.5s both;
  animation-delay: 0.5s;
}

.main-cube-2 {
  transform: translateZ(8vw);
}

.main-cube-3 {
  transform: translateX(-16vw) translateZ(8vw);
  animation: scale3 1.5s both;
  animation-delay: 0.5s;
}

.main-cube-4 {
  transform: translateY(-16vw) translateZ(8vw);
  animation: scale4 1.5s both;
  animation-delay: 0.5s;
}

.main-cube-5 {
  transform: translateY(16vw) translateZ(8vw);
  animation: scale5 1.5s both;
  animation-delay: 0.5s;
}

.main-cube-6 {
  transform: translateY(32vw) translateZ(8vw);
  animation: scale6 1.5s both;
  animation-delay: 0.5s;
}

.main-nav {
  width: 33vw;
  height: 33vw;
  max-width: 500px;
  max-height: 500px;
  position: relative;
  transform-style: preserve-3d;
  /* perspective: 4000px; */
}

.circleItem {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  height: 30vw;
  max-width: 100%;
  max-height: 100%;
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(120deg, rgb(142, 197, 252) 0%, rgb(224, 195, 252) 100%); */
  animation: circleFade 1s;
  animation-fill-mode: both;
  animation-delay: 2.5s;
}

@keyframes circleFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale1 {
  0% {
    transform: translateX(16vw) translateZ(8vw);
  }
  100% {
    transform: rotateY(90deg) translateZ(8vw);
  }
}
@keyframes scale3 {
  0% {
    transform: translateX(-16vw) translateZ(8vw);
  }
  100% {
    transform: rotateY(-90deg) translateZ(8vw);
  }
}
@keyframes scale4 {
  0% {
    transform: translateY(-16vw) translateZ(8vw);
  }
  100% {
    transform: rotateX(90deg) translateZ(8vw);
  }
}
@keyframes scale5 {
  0% {
    transform: translateY(16vw) translateZ(8vw);
  }
  100% {
    transform: rotateX(-90deg) translateZ(8vw);
  }
}
@keyframes scale6 {
  0% {
    transform: translateY(32vw) translateZ(8vw);
  }
  100% {
    transform: rotateX(180deg) translateZ(8vw);
  }
}

@keyframes mainCubeSpin {
  from {
    transform: rotateY(0) rotateX(0);
  }

  to {
    transform: rotateY(-360deg) rotateX(360deg);
  }
}
